<div class="not-found">
    <div class="not-found__not-found-wrapper not-found-wrapper">
        <div class="not-found-wrapper__img img">
            <img [attr.src]="imgSrc" width="289" height="200" alt="IMG" />
        </div>
        <div class="not-found-wrapper__text-content text-content">
            <div class="text-content__main-text">Тут ничего нет</div>
            <div class="text-content__second-text">Попробуйте вернуться назад или поищите что-нибудь другое.</div>
            <div class="text-content__error-text">Код ошибки: 404</div>
        </div>
    </div>
</div>
