<div class="create-product">
    <div class="create-product__crate-wrapper crate-wrapper">
        <div class="crate-wrapper__crate-content crate-content">
            <div class="crate-content__header-content header-content">
                <div class="header-content__header-text header-text">
                    <span class="header-text__text">Создай свой продукт</span>
                </div>
            </div>

            <form [formGroup]="form">
                <div class="crate-content__create-form-wrapper create-form-wrapper">
                    <div class="create-form-wrapper__crate-from-content crate-from-content">
                        <div class="crate-from-content__form-field form-field">
                            <mat-form-field>
                                <mat-label>Ссылка на изображение</mat-label>
                                <input matInput [formControlName]="IMG" />
                                <mat-error>Обязательно для заполнения</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="crate-from-content__form-field form-field">
                            <mat-form-field>
                                <mat-label>Имя продукта</mat-label>
                                <input matInput [formControlName]="NAME" />
                                <mat-error>Обязательно для заполнения</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="crate-from-content__form-field form-field">
                            <mat-form-field>
                                <mat-label>Цена</mat-label>
                                <input matInput type="number" [formControlName]="PRICE" min="1" />
                                <mat-error>Обязательно для заполнения</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="crate-from-content__form-field form-field">
                            <mat-form-field>
                                <mat-label>Скидка</mat-label>
                                <input matInput type="number" [formControlName]="DISCOUNT" min="0" />
                                <mat-error>Обязательно для заполнения</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="crate-from-content__form-field form-field">
                            <mat-form-field>
                                <mat-label>Описание</mat-label>
                                <textarea matInput [formControlName]="DESCRIPTION"></textarea>
                                <mat-error>Обязательно для заполнения</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="crate-from-content__form-field form-field">
                            <mat-form-field>
                                <mat-label>Теги</mat-label>
                                <mat-chip-grid #chipGrid [formControlName]="CATEGORIES">
                                    <ng-container *ngFor="let category of categories">
                                        <mat-chip-row (removed)="removeCategory(category)">
                                            {{ category }}
                                            <button matChipRemove>
                                                <mat-icon>cancel</mat-icon>
                                            </button>
                                        </mat-chip-row>
                                    </ng-container>
                                </mat-chip-grid>
                                <input [matChipInputFor]="chipGrid" (matChipInputTokenEnd)="addCategory($event)" />
                                <mat-error>Обязательно для заполнения</mat-error>
                            </mat-form-field>
                        </div>
                        <ui-button (buttonClick)="onAddProduct()">Добавить</ui-button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
